/*Darkmode*/

nav label {
    width: 100px;
    height: 40px;
    position: relative;
    display: block;
    background-color: #ebebeb;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    border-radius: 20px;
    right: 50px;
    transition: 0.3s;
}

nav label::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
    background: linear-gradient(180deg,#777, #3a3a3a);
    border-radius: 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

#darkmode-toggle + label {
    background: #242424;
}

#darkmode-toggle:checked + label::after {
    left: 65px;
    transform: translateX(-1%);
    background: linear-gradient(180deg, #ffcc89, #d8860b);
}

nav label:active::after {
    width: 35px;
}

nav label svg {
    position: absolute;
    width: 29px;
    height: 27px;
    bottom: 6px;
    z-index: 1114;
}

nav label svg.sun {
    left: 65px;
    fill: #7e7e7e;
    transition: 0.3s;
}

nav label svg.moon {
    left: 5px;
    fill: #fff;
    transition: 0.3s;
}

#darkmode-toggle:checked + label svg.sun {
    fill:  #fff;
}

#darkmode-toggle:checked + label svg.moon {
    fill: #7e7e7e;
}

body.dark-mode {
    background-color: rgba(0, 0, 0, 0.856);
    transition: 0.3s;
}

body.dark-mode #taskChart {
    background-color: ghostwhite;
}

body.dark-mode #stats p {
    color: white;
}


body.dark-mode nav {
    background-color: black;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 255);
}

body.dark-mode nav .button{
    background-color: white;
}

body.dark-mode nav li {
    color: white;
}

body.dark-mode .headerText, 
body.dark-mode .headerText h1 {
    color: white;
} 

body.dark-mode .slider-container-phrases:hover {
    background-color: ghostwhite;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: background-color 0.3s;
  }

body.dark-mode .slider-container-phrases:hover .slide-phrase {
    color: black;
}

body.dark-mode .slide-phrase {
    color: white;
}

body.dark-mode footer {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 255);
}
  
body.dark-mode .headerText .social_icon li a{
    color: white;
}

body.dark-mode .tagChartH2 {
    color: white;
}

body.dark-mode .notifications-dueDate {
    background: whitesmoke;
}

body.dark-mode .notifications-dueDate div {
    color: black;
}

body.dark-mode .notifications-dueDate li {
    background-color: rgba(63, 58, 58, 0.9);
    color: white;
}

body.dark-mode .notifications-dueDate li:hover {
    background-color: black;
    color: white;
}

body.dark-mode nav ul {
    background-color: black;
}

body.dark-mode nav ul li button {
    color: black;
}

body.dark-mode nav .menu-toggle {
    color: white;
}