/* Formulario */
section#form-section {
	min-width: 400px;
	min-height: 400px;
}

form#task-form {
	background-color: white;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
}

section#form-section h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: center;
}

/* Animación de avance o retroceso*/
.step {
	opacity: 0;
	transition: opacity 0.5s ease-in-out, visibility 0.5s;
	display: none;
}
.step.active {
	display: block;
	opacity: 1;
}

/* Estilos de los campos*/

label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	color: #555;
}

input[type='text'],
input[type='date'],
textarea {
	width: 93%;
	padding: 0.8rem;
	margin-bottom: 1rem;
	border: none;
	background-color: rgba(240, 240, 240, 0.7);
	border-radius: 2px;
	font-size: 1rem;
	border-bottom: 2px solid lightslategray;
	outline: none;
	transition: border-bottom 0.3s;
}

input[type='text']:focus,
input[type='date']:focus,
textarea:focus {
	border-bottom: 2px solid #007bff;
}

.select,
input[type='text'],
input[type='date'],
textarea::placeholder {
	font-size: 15px;
	color: lightslategray;
}

textarea {
	resize: none;
	height: 100px;
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 0.8rem 1.2rem;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	width: 100%;
	transition: background-color 0.3s;
}

.form-buttons:hover {
	background-color: #0056b3;
}

.back-button {
	background: transparent;
	color: gray;
	width: 120px;
	position: relative;
	font-size: 14px;
	padding-left: 0;
}

/* Barra de progreso*/

.progress-bar {
	width: 100%;
	height: 6px;
	position: relative;
	background-color: #ccc;
	border-radius: 6px;
	overflow: hidden;
	margin: 30px 0 5px 0;
}

.progress {
	width: 17%;
	height: 100%;
	background-color: dodgerblue;
	border-radius: 6px;
	transition: width 0.4s ease-in-out;
}

/* Desplegable de selects personalizados*/
.dropdown {
	position: relative;
	margin-bottom: 1rem;
}

.dropdown * {
	box-sizing: border-box;
}

/*Opcion seleccionada*/
.select {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	border-bottom: 2px solid lightslategray;
	background-color: rgba(240, 240, 240, 0.7);
	padding: 1em;
	cursor: pointer;
	transition: background 0.3s;
	position: relative;
}

.select-clicked {
	box-shadow: 0 0 0.8em rgba(240, 240, 240, 0.9);
}

.select:hover {
	background: ghostwhite;
}

.select:focus {
	border-bottom: 2px solid #007bff;
}

/*Icono despliegue*/
.caret {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid black;
	transition: transform 0.3s;
	margin-left: 10px;
}

.caret-rotate {
	transform: rotate(180deg);
}

/*Opciones del menu*/
.menu {
	list-style: none;
	padding: 0.5em 0;
	background: white;
	border: 1px solid #363a43;
	border-radius: 0.5em;
	color: #9fa5b5;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top;
	transition: opacity 0.2s, transform 0.2s;
	z-index: 10;
	max-height: 200px;
	overflow-y: auto;
}

.menu-open {
	opacity: 1;
	transform: scaleY(1);
}

.menu li {
	padding: 0.7em 1em;
	margin: 0.3em 0;
	border-radius: 0.5em;
	cursor: pointer;
	transition: background 0.3s;
}

.menu li:hover {
	background-color: ghostwhite;
}

.active {
	background: white;
}
