/* Formulario */
section#form-section {
	background-color: white;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
}
section#form-section h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: center;
}
.step {
	opacity: 0;
	transition: opacity 0.5s ease-in-out, visibility 0.5s;
	display: none;
}
.step.active {
	display: block;
	opacity: 1;
}
label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	color: #555;
}

select,
input[type='text'],
input[type='date'],
textarea {
	width: 96%;
	padding: 0.8rem;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
}

textarea {
	resize: none;
	height: 100px;
}

.checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 0.8rem 1.2rem;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	width: 100%;
	transition: background-color 0.3s;
}

.form-buttons:hover {
	background-color: #0056b3;
}

.back-button {
	background: transparent;
	color: gray;
}
